// Logo
.name {
  & h1 > a {
    display: block;
    text-align: center;
  }
  img {
    height: 40px;
    position: relative;
    top: -2px;

    &:hover {
      opacity: 0.85;
    }

    @media #{$large-up} {

    }
  }
}

// Typography
h4 {
  a {
    color: $primary-link-color;
    &:hover {
      color: $primary-color;
    }
  }
}

// Body
.f-topbar-fixed {
  padding-top: 0 !important;
}


// Nav styles
.top-bar-container {
  .top-bar-section {
    letter-spacing: 0.15rem;

    & ul > li > a {
      font-family: $menu-font-family;
    }

    & ul.dropdown {
      & > li > a {
        line-height: rem-calc(35);
        text-transform: none;
      }
    }

    & a {
      @include single-transition(background-color, 100ms);
    }
  }
}

// Main content div.
.content {
  padding-bottom: rem-calc(20);

  & article {
    margin-top: rem-calc(20);
  }

  & img {
    height: auto;
    width: 100%;
    margin-bottom: rem-calc(10);
    @media #{$small-only} {
      min-width: 100%;
    }
  }
}

// Orbit overrides.
.orbit-container {
  @media #{$large-up} {
    margin-top: 55px;
  }
  & img {
    width: 100%;
  }
  & h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & > a {
      color: $primary-link-color;
      font-weight: 700;
      margin-left: rem-calc(1);
      &:hover {
        color: $primary-color;
      }
      @media #{$small-only} {
        font-size: rem-calc(18);
        margin-left: rem-calc(2);
      }
    }
  }
  & .orbit-prev,
  & .orbit-next {
    top: 35%;
    & span {
      border-top-width: 12px;
      border-bottom-width: 12px;
      border-left-width: 12px;
      border-right-width: 12px;
    }
  }
  .orbit-bullets li {
    cursor: pointer;
  }
  .orbit-timer {
    display: none;
  }
}

// Footer
.footer-wrapper {
  background-color: #000;
  padding-top: rem-calc(30);
}
footer {
  & a {
    color: $footer-link-color;
  }
  & p {
    font-size: rem-calc(14);
    line-height: rem-calc(18);
  }
  padding-bottom: rem-calc(15);
}

.footer-image {
  max-height: 150px;
  overflow: hidden;
  width: 100%;
  & > img {
    min-width: 100%;
    opacity: 0.8;
    width: 100%;
  }
}
