// Logo
.top-bar .title-area {
  position: absolute;
  z-index: 20;
}
.name {
  h1 > a {
    display: block;
    text-align: center;
  }
  img {
    height: 40px;
    position: relative;
    top: -2px;
    @include single-transition();

    &:hover {
      opacity: 0.85;
    }

    @media #{$large-up} {
      position: fixed;
      top: 6px;
    }
  }
}

// Typography
h1, h4 {
  a {
    @include single-transition();
    color: $primary-link-color;
    &:hover {
      color: $primary-color;
    }
  }
}
article {
  h1 {
    text-align: center;
  }
  time {
    text-align: center;
  }
  p {
    padding: 1rem 0;
  }
}


time {
  font-size: rem-calc(14);
  display: block;
  padding-bottom: 1rem;
  padding-left: 0.1rem;
}

// Buttons
header {
  > h1 {
    font-size: 1.5rem;
    font-family: $menu-font-family;
    margin-top: 0.3rem;
    text-align: center;

    @media #{$medium-up} {
      text-align: left;
      margin-top: 1rem;
    }

    > a,
    > a:visited {
      color: #000;
      background-color: $hha-bg-white;
      padding: 0.25rem 1.1rem;
          @include single-transition();

    }
    > a:hover,
    > a:active {
      color: #000;
      background-color: $primary-color;
    }
  }
}


// Body & Content
.f-topbar-fixed {
  padding-top: 0 !important;
}

.main-content {
  background-color: $body-bg;
  padding: 0 1rem;
}


// Nav styles
.top-bar-container {
  .top-bar-section {
    letter-spacing: 0.15rem;

    ul {
      background-color: transparent;
      > li {
        > a {
          font-family: $menu-font-family;
          @include single-transition();
        }
      }
    }

    ul.dropdown {
      > li > a,
      > li.active a {
        line-height: rem-calc(35) !important;
        text-transform: none;
      }
    }
    li.active.has-dropdown li:not(.active) > a {
      color: $topbar-link-color;
      background-color: #333;

      &:hover,
      &:active {
        background-color: $primary-color;
      }
    }


    a {
      @include single-transition(background-color, 100ms);
    }
  }
}


// Off canvas
ul.off-canvas-list {
  > li > a {
    font-family: $menu-font-family;
    letter-spacing: 0.15rem;
    color: $primary-link-color;
    &:hover {
      background-color: $primary-color;
    }
  }
  > li.active > a {
    color: $topbar-link-color-active;
    @include single-transition();
    background-color: $topbar-link-bg-active;
    &:hover {
      background-color: $primary-color;
    }
  }
}

// Main content div.
.content {
  padding-bottom: rem-calc(20);

  article {
    margin-top: rem-calc(20);
  }

  img {
    height: auto;
    width: 100%;
    margin-bottom: rem-calc(10);
    @media #{$small-only} {
      min-width: 100%;
    }
  }
}

// Orbit overrides.
.orbit-container {
  @media #{$large-up} {
    margin-top: 55px;
  }
  img {
    width: 100%;
  }
  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    > a {
      color: $primary-link-color;
      font-weight: 700;
      margin-left: rem-calc(1);
      &:hover {
        color: $primary-color;
      }
      @media #{$small-only} {
        font-size: rem-calc(18);
        margin-left: rem-calc(2);
      }
    }
  }
  .orbit-prev,
  .orbit-next {
    top: 35%;
    span {
      border-top-width: 12px;
      border-bottom-width: 12px;
      border-left-width: 12px;
      border-right-width: 12px;
    }
  }
  .orbit-bullets li {
    cursor: pointer;
  }
  .orbit-timer {
    display: none;
  }
}

// Footer
.footer-wrapper {
  background-color: #000;
  padding-top: rem-calc(30);
}
footer {
  a {
    color: $footer-link-color;
  }
  p {
    font-size: rem-calc(14);
    line-height: rem-calc(18);
  }
  padding-bottom: rem-calc(15);
}

.footer-image {
  max-height: 150px;
  overflow: hidden;
  width: 100%;
  > img {
    min-width: 100%;
    opacity: 0.8;
    width: 100%;
  }
}
